<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Essential Weather</title>
        <link rel="icon" size="16x16" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Your weather, nothing more nothing less">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:500">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div id="wrapper-main">
            <header>
                <h1>{{this.location}}</h1>
                <h2>{{this.timeCurrent}}</h2>
            </header>
            <main>
                <div class="outer">
                    <div id="input-field">
                        <input type="text" id="location-input" placeholder="Enter your location here" autofocus value="Dortmund">
                        <button type="button" onclick="newLoc()">Set location</button>
                        <!-- <button type="button" onclick="testWeather()">Test weather</button> -->
                        <div id="fetchAnimation"></div>
                    </div>
                </div>

                <div id="wrapper-weather">
                    <section id="currently">
                        {{> weather_block this.currently name="currently"}}
                    </section>
                    <div id="wrapper-future">
                        <section id="hourly">
                            {{#each this.hourly}}
                                {{> weather_block this name="hourly"}}
                            {{/each}}
                        </section>
                        <section id="daily">
                            {{#each this.daily}}
                                {{> weather_block this name="daily"}}
                            {{/each}}
                        </section>
                    </div>
                </div>
            </main>

            <footer>
                <p>
                    Site created by Simon Oczadly @staxx6 <a href="https://github.com/staxx6">github.com/staxx6</a>
                </p>
            </footer>
        </div>
        <script src="js/getWeather.js"></script>
    </body>
</html>
