<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>Essential Weather</title>
        <link rel="icon" size="16x16" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Your weather, nothing more nothing less">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
        </header>

        <div id="wrapper">
            <main>
                <div class="outer">
                    <div id="input-field">
                        <input type="text" id="location-input" placeholder="Enter your location here" autofocus value="Dortmund">
                        <button type="button" onclick="newLoc()">Set location</button>
                        <button type="button" onclick="testWeather()">Test weather</button>
                        <div id="fetchAnimation"></div>
                    </div>
                </div>

                <h1>Your locations weather is:</h1>

                <div id="currently">
                    {{> weather_block this.currently name="currently"}}
                </div>
                <div id="hourly">
                    {{#each this.hourly}}
                        {{> weather_block this name="hourly"}}
                    {{/each}}
                </div>
                <div id="daily">
                    {{#each this.daily}}
                    {{> weather_block this name="daily"}}
                    {{/each}}
                </div>
            </main>
        </div>

        <footer>
        </footer>
        <script src="js/getWeather.js"></script>
    </body>
</html>
