<div class="weather-block">
    <ul>
        <li>Temp: {{this.currentTemp}}</li>
        <li>Max:</li>
        <li>Min:</li>
        <li>Icon: {{this.currentIcon}}</li>
        <li>Rain Chance: {{this.currentPrecipProbability}}%</li>
    </ul>
</div>
