body {
    margin: 0;
    padding: 0;

    font-family: 'oswald', sans-serif;
    font-size: 1em;
    text-align: center;

    background-color: #b3daff;
}

footer, header {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    /* padding: 3px; Why buggy?*/
}

#wrapper-main {
    max-width: 960px;
    min-width: 128px;
    margin: 4% auto 0;
    padding: 1.3% 1.3%;
    text-align: center;
}

main {
    background-color: #ffff99;
    border-radius: 20px;
}

.outer {
    text-align: center;
    height: 20px;
    padding: 20px 20px;
}

#input-field {
    display: inline-block;
}

#fetchAnimation {
    top: 50%;
    transform: translateY(50%);

    width: 16px;
    height: 16px;
    /* margin: 3px 0; */
    display: none;
    background-color: orange;
}

#wrapper-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#currently {
    flex: 0.1 0 90px;
    padding: 20px;
    display: flex;
}

#wrapper-future {
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

#hourly {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 1em;
}

#daily {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 1em;
}

.weather-block {
    display: inline-block;
    flex: 1;
    text-align: center;
    margin: 1.1em 1em;
}

#currently .weather-block {
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tempMin {
    color: rgb(80, 80, 230);
}

.tempMax {
    color: rgb(230, 80, 80);
}

#location-input {
    /* width: 70%; */
}
